<!DOCTYPE html>
<html>
    <%- include('parts/head.ejs') %>
    <title>Datenschutzbestimmungen für Entbannungsanträge | mc.mauki.net</title>
    <body>
        <main class="grid min-h-full place-items-center bg-zinc-700 px-6 py-24 sm:py-32 lg:px-8">
            <div class="mr-4 ml-10">
                <h1 class="mt-1 text-center text-3xl font-bold tracking-tight text-white sm:text-5xl">Datenschutzbestimmungen für Entbannungsanträge</h1>
                <p class="mt-6 text-base text-center leading-7 text-zinc-400">Zuletzt aktualisiert am 24. Juni 2023</p>
                
                <p class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-3xl">Welche Informationen werden gespeichert?</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Wir speichern und nutzen nur die Daten, welche in den Feldern der Antragsseite angegeben wurden.<br>
                    Darunter zählen (neben situationbezogenen Angaben zur Sperrung eines Minecraft-Accounts vom Drittanbieter-Server mc.mauki.net) eine E-Mail Adresse & der Nutzername des zuvor erwähnten Minecraft-Accounts.<br>
                    Diese Daten werden erst nach Einreichung des Entbannunsantrages gespeichert und verarbeitet.
                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Wo werden die Daten gespeichert?</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Alle auf dieser Seite genannten Daten werden lokal auf dem Server des Seitenbetreibers (mauki.net) in Form einer SQLite-Datenbank gespeichert und verarbeitet.<br>
                    Die Daten können je nach Form und Fall auch global auf anderen Plattformen verarbeitet werden. Nähere Informationen dazu sind im Folgendem zu finden.
                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Weshalb werden die Daten gespeichert?</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Obig genannte Daten werden gespeichert, damit unsere Administration des Minecraft-Servers sich einen Überblick über die Lage der Sperrung des Minecraft-Accounts von unserem Drittanbieter-Server mauki.net verschaffen können.<br>
                    Dies ist notwenig, um ein reibungsloses Verfahren durchführern zu können, und Unklarheiten zu klären. <br>

                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Wie lange werden die Daten gespeichert?</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Die Daten werden mindestens bis zur Vollendung des Prozesses des Entbannungsverfahren gespeichert. In einigen Fällen können die erhobenen Daten weiterhin gespeichert bleiben, um im späterem Falle Einsicht in vergangene Vergehen eines Nutzers zu erhalten.<br>
                    Auch können diese Daten anonymisiert (alle angegebenen Daten ohne E-Mail Adresse und mit abgeänderten Nutzerdaten mit veränderung des Discord-Nutzernamen, Discord-ID & Minecraft-Nutzernamen) werden, um die Ausbildung neuer Mitglieder im Administrationsteam zu vereinfachen. 
                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Wie werden die Daten geteilt?</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Alle obig genannten Daten werden nur mit dem Administrationsteam des Server geteilt, damit diese sich einen Überblick über die Lage der Accountsperrung machen können.<br>
                    Die Daten werden ebenfalls auf dem Discord-Server - abgeändert - veröffentlicht. Aus dem auf dem Discord-Server preigegebem Datensatz wird die E-Mail Adresse entfernt. Alle weiteren Daten bleiben 1:1 weiterhin so bestehen, und werden in den meisten Fällen so veröffentlicht, damit die Community des Servers demokratisch über den Ausgang des Prozessen entscheiden können.<br>
                    Anonymisierte Daten werden teilweise an einzelne Mitglieder des Administrationsteams weitergeleitet, um diese Ausbilden zu können und echte Entbannungsanträge zu imitieren.
                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Anforderung der Daten</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Du kannst deine Daten jederzeit im Dashboard einsehen. Auch kannst du den Support kontaktieren, um deine Daten per E-Mail oder via Discord anzufordern.<br>
                    Du kannst in beiden Fällen deine Daten als .zip Datei im JSON Format herunterladen.
                </p>

                <p class="mt-6 text-3xl font-bold tracking-tight text-white sm:text-3xl">Löschung der Daten</p>
                <p class="mt-2 text-10xl tracking-tight text-zinc-400 sm:text-2xl">
                    Solltest du deine Daten löschen wollen, kannst du dies im Dashboard tun. Alternativ kannst du die Daten auch per E-Mail löschen lassen.<br>
                    Mit der Löschung deiner Daten erlischt dein Prozess zur Entbannung, sofern dieser noch nicht beendet ist. Das Verfahren wird eingestellt und dein Account bleibt weiterhin gesperrt.<br>
                    Nach der Beendigung des Entbannungsprozesses ist es i.d.R nicht möglich, deine Daten zu löschen, sofern diese für spätere Einsicht gespeichert worden sind. Solltest du diese dennoch gelöscht haben wollen, melde dich bitte bei unserem Support.<br>
                    Anonymisierte Daten können in keinem Fall wieder gelöscht werden. Diese bleiben permanent auf unserem Server speichert.
                </p>
            </div>
        </main>
    </body>
</html>